html,body
{
  padding:0;
  margin:0;
}

body
{
  font-family:'Roboto',sans-serif;
  /*background:url('../images/background-texture.png') #efefef;*/
  background:url('../images/background-texture.png'),linear-gradient(#efeff2,#b9b9ba);
  color:#444;
  /*box-shadow:0 0 255px rgba(0,0,0,0.25) inset;*/
  position:relative;
  top:0;
  left:0;
}

body:after,
body:before
{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:20px;
  border:1px solid rgba(0,0,0,0.05);
  border-bottom-color:rgba(255,255,255,0.25);
  border-left-color:rgba(0,0,0,0.05);
  border-right-color:rgba(0,0,0,0.05);
  z-index:-1;
}
body:after
{
  margin:21px;
  border-top-color:rgba(255,255,255,0.25);
  border-bottom-color:rgba(0,0,0,0.05);
  border-left-color:rgba(255,255,255,0.15);
  border-right-color:rgba(255,255,255,0.15);
  background:rgba(255,255,255,0.25);
}

body.impress-on-title
{
  /*background:url('../images/background-texture.png'),linear-gradient(#efefef,#ccc);*/
}

.type-me {display:none;}

@-webkit-keyframes blink
{
  0% {opacity:0;}
  45% {opacity:0}
  50% {opacity:1;}
  95% {opacity:1;}
  100% {opacity:0;}
}

.text-cursor {-webkit-animation:blink 1s linear infinite;}
.text-cursor:before {content:"|";}

.step.past .text-cursor {visibility:hidden;}

a
{
  text-decoration:none;
  color:#933;
}
a:hover
{
  color:#c66;
  text-shadow:0 1px 1px #600;
  position:relative;
  top:-1px;
}

h1,h2,h3,h4,h5,h6
{
  color:#111;
  margin:0;
  margin-bottom:15px;
  line-height:1em;
  text-shadow:0 1px 0 #fff;
  font-family:'Roboto Slab', serif;
}

ul,ol
{
  margin:0 0 10px 25px;
  padding:0;
}

li
{
  margin-bottom:4px;
  line-height:1.5em;
}

q
{
  display:block;
  margin:10px 0;
  padding:10px 15px;
  border-radius:5px;
  background:#f9f9f9;
  color:#222;
  box-shadow:0 1px 3px rgba(0,0,0,0.15);
  position:relative;
  top:0;
  left:0;
  margin-bottom:18px;
}
q:after,
q:before
{
  content:" ";
  border:12px solid #f9f9f9;
  border-top:none;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-bottom-width:14px;
  position:absolute;
  top:100%;
  right:20px;
}
q:before
{
  content:" ";
  border:16px solid rgba(0,0,0,0.05);
  border-top:none;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-bottom-width:18px;
  position:absolute;
  top:100%;
  right:13px;
}

code
{
  border-radius:3px;
  border:1px solid #ccc;
  background:#ddd;
  padding:0 4px;
  color:#444;
  font-family:'Droid Sans Mono',auto;
  font-size:14px;  
}
code.extrude
{
  position:relative;
  top:-3px;
  left:0;
  border:none;
  
  background:linear-gradient(#ddd,#ccc);
  background-color:#444;
  text-shadow:0 1px 0 #999;
  box-shadow:
  0 1px 0 #bbb,
  0 2px 0 #aaa,
  0 3px 0 #999,
  0 3px 8px #888,
  0 3px 1px #777,
  0 4px 2px #ccc,
  0 5px 3px #ccc
  ;
}

code.ruby
{
  border-color:#dcc;
  background:#edd;
  color:#544;
}

code.ruby.extrude
{
  border:none;
  background:linear-gradient(#e94f5f,#d93f4f);
  text-shadow:0 1px 0 #af101f;
  box-shadow:
  0 1px 0 #cf2f2f,
  0 2px 0 #af101f,
  0 3px 0 #8f0000,
  0 3px 8px #633,
  0 3px 1px #300,
  0 4px 2px #ccc,
  0 5px 3px #ccc
  ;
}

code.bash
{
  border-color:#333;
  background:#444;
  color:#ddd;
}

code.bash.extrude
{
  border:none;
  background:linear-gradient(#444,#333);
  color:#ccc;
  background-color:#444;
  text-shadow:0 1px 0 #222;
  box-shadow:
  0 1px 0 #333,
  0 2px 0 #222,
  0 3px 0 #111,
  0 3px 8px #333,
  0 3px 1px #000,
  0 4px 2px #ccc,
  0 5px 3px #ccc
  ;
}
code.bash:before
{
  content:"$ ";
  color:#999;
}

.step
{
  transition:opacity 1s;
  opacity:1;
}
.active.step {opacity:1;}

#splash
{
  position:absolute;
  bottom:35px;
  left:35px;
  z-index:1200;
}
#splash img
{
  width:150px;
}

#splash.step
{
  width:auto;
  height:auto;
}

.step
{
  height:auto;
  width:800px;
  transition:opacity 1s;
}

#title.step
{
  text-align:center;
  height:auto;
  width:800px;
}
#title.step h1
{
  font-size:4.5em;
  color:#e94f5f;
  text-shadow:
  0 1px 0 #af0f1f,
  0 2px 0 #9f000f,
  0 3px 0 #8f0000,
  0 4px 0 #7f0000,
  0 5px 0 #6f0000,
  0 6px 0 #5f0000,
  0 6px 8px #633,
  0 6px 1px #300,
  0 7px 2px #ccc,
  0 8px 3px #ccc,
  0 9px 3px #ccc,
  0 10px 4px #ccc,
  0 11px 4px #ccc
  ;
}

#title.step h1 small
{
  color:#e9e9ef;
  text-shadow:
  0 0px 1px #667,
  0 1px 0 #bfbfd0,
  0 2px 0 #afafc0,
  0 3px 0 #9f9fb0,
  0 4px 0 #8f8fa0,
  0 4px 6px #99a,
  0 4px 1px #336,
  0 5px 2px #ccc,
  0 6px 3px #ccc,
  0 8px 3px #ccc,
  0 9px 4px #ccc,
  0 10px 4px #ccc
  ;
}

/*#title.step h1 small
{
  color:#555;
  text-shadow:
  0 0px 1px #333,
  0 1px 0 #404040,
  0 2px 0 #303030,
  0 3px 0 #202020,
  0 4px 0 #101010,
  0 4px 6px #333,
  0 4px 1px #fff,
  0 5px 2px #ccc,
  0 6px 3px #ccc,
  0 8px 3px #ccc,
  0 9px 4px #ccc,
  0 10px 4px #ccc
  ;
}*/

#what-is-ruby,
#what-is-rails
{
  box-sizing:border-box;
  width:50%;
  padding-right:5%;
  float:left;
}

.app-step
{
  height:400px;
  width:800px;
  padding-left:250px;
  box-sizing:border-box;
  opacity:0;
}

.app-step>ol>li
{
  margin-bottom:12px;
}

.app-step ol,
.app-step ul
{
  margin:0;
  padding:0 0 10px 25px;
}
.app-step>ol,
.app-step>ul
{
  /*border-radius:5px;*/
  /*background:#f9f9f9;*/
  /*padding:20px;*/
  /*box-shadow:0 1px 3px rgba(0,0,0,0.15);*/
}

.app-step.active
{
  opacity:1;
}

ol#app-steps
{
  opacity:0;
  visibility:hidden;
  transition:opacity 0.5s,visibility 0.5s;
  width:200px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-200px;
  margin-left:-400px;
  box-sizing:border-box;
  z-index:1000;
}

#app-steps
{
  list-style:none;
  margin:0;
  padding:0;
}
#app-steps li
{
  padding:5px 0;
  margin:0;
  font-weight:700;
}

body.impress-on-application-architecture .step,
body.impress-on-lay-the-groundwork .step,
body.impress-on-generate-resources .step,
body.impress-on-fix-output .step,
body.impress-on-make-it-usable .step,
body.impress-on-implement-notifications .step,
body.impress-on-deploy-it .step,
body.impress-on-thanks .step
{
  opacity:0;
}

body.impress-on-thanks #thanks.step
{
  opacity:1;
}

body.impress-on-application-architecture .app-step,
body.impress-on-lay-the-groundwork .app-step,
body.impress-on-generate-resources .app-step,
body.impress-on-fix-output .app-step,
body.impress-on-make-it-usable .app-step,
body.impress-on-implement-notifications .app-step,
body.impress-on-deploy-it .app-step
{
  opacity:1;
}

body.impress-on-application-architecture #app-steps,
body.impress-on-lay-the-groundwork #app-steps,
body.impress-on-generate-resources #app-steps,
body.impress-on-fix-output #app-steps,
body.impress-on-make-it-usable #app-steps,
body.impress-on-implement-notifications #app-steps,
body.impress-on-deploy-it #app-steps
{
  opacity:1;
  visibility:visible;
}

#app-steps li a
{
  transition:left 0.5s;
  position:relative;
  left:0;
}

#app-steps li a:after
{
  transition:opacity 0.5s;
  content:" ›";
  opacity:0;
}

body.impress-on-application-architecture #app-steps li a[href="#application-architecture"],
body.impress-on-lay-the-groundwork #app-steps li a[href="#lay-the-groundwork"],
body.impress-on-generate-resources #app-steps li a[href="#generate-resources"],
body.impress-on-fix-output #app-steps li a[href="#fix-output"],
body.impress-on-make-it-usable #app-steps li a[href="#make-it-usable"],
body.impress-on-implement-notifications #app-steps li a[href="#implement-notifications"],
body.impress-on-deploy-it #app-steps li a[href="#deploy-it"]
{
  left:10px;
  color:#111;
}

body.impress-on-application-architecture #app-steps li a[href="#application-architecture"]:after,
body.impress-on-lay-the-groundwork #app-steps li a[href="#lay-the-groundwork"]:after,
body.impress-on-generate-resources #app-steps li a[href="#generate-resources"]:after,
body.impress-on-fix-output #app-steps li a[href="#fix-output"]:after,
body.impress-on-make-it-usable #app-steps li a[href="#make-it-usable"]:after,
body.impress-on-implement-notifications #app-steps li a[href="#implement-notifications"]:after,
body.impress-on-deploy-it #app-steps li a[href="#deploy-it"]:after
{
  opacity:1;
}

#thanks.step
{
  width:600px;
}