html,body
{
  padding:0;
  margin:0;
}

body
{
  font-family:'Roboto',sans-serif;
  background:url('../images/background-texture.png') #efefef;
  color:#444;
  box-shadow:0 0 255px rgba(0,0,0,0.25) inset;
}

a
{
  text-decoration:none;
  color:#933;
}

h1,h2,h3,h4,h5,h6
{
  color:#111;
  margin:0;
  line-height:1em;
  text-shadow:0 1px 0 #fff;
}

code
{
  border-radius:3px;
  border:1px solid #ccc;
  background:#ddd;
  padding:0 4px;
  color:#444;
  font-family:'Droid Sans Mono',auto;
  font-size:14px;  
}

li
{
  margin-bottom:4px;
  line-height:1.5em;
}

code.ruby
{
  border-color:#dcc;
  background:#edd;
  color:#544;
}

code.bash
{
  border-color:#333;
  background:#444;
  color:#ddd;
}
code.bash:before
{
  content:"$ ";
  color:#999;
}

.step
{
  transition:opacity 1s;
  opacity:0.10;
}
.active.step {opacity:1;}

#splash.step
{
  width:auto;
  height:auto;
}

.step
{
  height:400px;
  width:800px;
  transition:opacity 1s;
}

#title.step
{
  text-align:center;
  height:auto;
  width:600px;
}
#title.step h1
{
  font-size:4em;
  color:#c0061b;
}
#title.step h1 small
{
  color:#666;
}

#what-is-ruby,
#what-is-rails
{
  box-sizing:border-box;
  width:50%;
  padding-right:5%;
  float:left;
}

.app-step
{
  height:400px;
  width:800px;
  padding-left:250px;
  box-sizing:border-box;
  opacity:0;
}

.app-step li
{
  margin-bottom:12px;
}

.app-step h2
{
  display:none;
}
.app-step ol,
.app-step ul
{
  margin:0;
}
.app-step>ol,
.app-step>ul
{
  /*border-radius:5px;*/
  /*background:#f9f9f9;*/
  /*padding:20px;*/
  /*box-shadow:0 1px 3px rgba(0,0,0,0.15);*/
}

.app-step.active
{
  opacity:1;
}

ol#app-steps
{
  opacity:0;
  visibility:hidden;
  transition:opacity 0.5s,visibility 0.5s;
  width:200px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-200px;
  margin-left:-400px;
  box-sizing:border-box;
  z-index:1000;
}

#app-steps
{
  list-style:none;
  margin:0;
  padding:0;
}
#app-steps li
{
  padding:5px 0;
  margin:0;
  font-weight:700;
}

body.impress-on-application-architecture #app-steps,
body.impress-on-lay-the-groundwork #app-steps,
body.impress-on-generate-resources #app-steps,
body.impress-on-fix-output #app-steps,
body.impress-on-make-it-usable #app-steps,
body.impress-on-implement-notifications #app-steps,
body.impress-on-deploy-it #app-steps
{
  opacity:1;
  visibility:visible;
}

#app-steps li a
{
  transition:left 0.5s;
  position:relative;
  left:0;
}

#app-steps li a:after
{
  transition:opacity 0.5s;
  content:" ›";
  opacity:0;
}

body.impress-on-application-architecture #app-steps li a[href="#application-architecture"],
body.impress-on-lay-the-groundwork #app-steps li a[href="#lay-the-groundwork"],
body.impress-on-generate-resources #app-steps li a[href="#generate-resources"],
body.impress-on-fix-output #app-steps li a[href="#fix-output"],
body.impress-on-make-it-usable #app-steps li a[href="#make-it-usable"],
body.impress-on-implement-notifications #app-steps li a[href="#implement-notifications"],
body.impress-on-deploy-it #app-steps li a[href="#deploy-it"]
{
  left:10px;
  color:#111;
}

body.impress-on-application-architecture #app-steps li a[href="#application-architecture"]:after,
body.impress-on-lay-the-groundwork #app-steps li a[href="#lay-the-groundwork"]:after,
body.impress-on-generate-resources #app-steps li a[href="#generate-resources"]:after,
body.impress-on-fix-output #app-steps li a[href="#fix-output"]:after,
body.impress-on-make-it-usable #app-steps li a[href="#make-it-usable"]:after,
body.impress-on-implement-notifications #app-steps li a[href="#implement-notifications"]:after,
body.impress-on-deploy-it #app-steps li a[href="#deploy-it"]:after
{
  opacity:1;
}