html,body
{
  padding:0;
  margin:0;
}

body
{
  font-family:'Roboto',sans-serif;
  background:url('../images/background-texture.png') #efefef;
  color:#444;
  box-shadow:0 0 255px rgba(0,0,0,0.25) inset;
}

a
{
  text-decoration:none;
  color:#933;
}
a:hover
{
  color:#c66;
  text-shadow:0 1px 1px #600;
  position:relative;
  top:-1px;
}

h1,h2,h3,h4,h5,h6
{
  color:#111;
  margin:0;
  margin-bottom:15px;
  line-height:1em;
  text-shadow:0 1px 0 #fff;
}

code
{
  border-radius:3px;
  border:1px solid #ccc;
  background:#ddd;
  padding:0 4px;
  color:#444;
  font-family:'Droid Sans Mono',auto;
  font-size:14px;  
}

ul,ol
{
  margin:0 0 10px 25px;
  padding:0;
}

li
{
  margin-bottom:4px;
  line-height:1.5em;
}

q
{
  display:block;
  margin:10px 0;
  padding:10px 15px;
  border-radius:5px;
  background:#f9f9f9;
  color:#222;
  box-shadow:0 1px 3px rgba(0,0,0,0.15);
  position:relative;
  top:0;
  left:0;
  margin-bottom:18px;
}
q:after,
q:before
{
  content:" ";
  border:12px solid #f9f9f9;
  border-top:none;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-bottom-width:14px;
  position:absolute;
  top:100%;
  right:20px;
}
q:before
{
  content:" ";
  border:16px solid rgba(0,0,0,0.05);
  border-top:none;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-bottom-width:18px;
  position:absolute;
  top:100%;
  right:13px;
}

code.ruby
{
  border-color:#dcc;
  background:#edd;
  color:#544;
}

code.bash
{
  border-color:#333;
  background:#444;
  color:#ddd;
}
code.bash:before
{
  content:"$ ";
  color:#999;
}

.step
{
  transition:opacity 1s;
  opacity:1;
}
.active.step {opacity:1;}

#splash
{
  position:absolute;
  bottom:20px;
  left:20px;
}
#splash img
{
  width:200px;
}

#splash.step
{
  width:auto;
  height:auto;
}

.step
{
  height:auto;
  width:800px;
  transition:opacity 1s;
}

#title.step
{
  text-align:center;
  height:auto;
  width:600px;
}
#title.step h1
{
  font-size:4em;
  color:#c0061b;
  color:#e93949;
  text-shadow:
  0 1px 0 #bf0f1f,
  0 2px 0 #b90919,
  0 3px 0 #af000f,
  0 4px 0 #a90009,
  0 5px 0 #9f000f,
  0 6px 0 #990009,
  0 6px 6px #393939,
  0 6px 1px #111;
}

#title.step h1 small
{
  color:#898989;
  text-shadow:
  0 1px 0 #5f5f5f,
  0 2px 0 #595959,
  0 3px 0 #4f4f4f,
  0 4px 0 #494949,
  0 5px 0 #3f3f3f,
  0 6px 0 #393939,
  0 6px 6px #393939,
  0 6px 1px #111;
}

#what-is-ruby,
#what-is-rails
{
  box-sizing:border-box;
  width:50%;
  padding-right:5%;
  float:left;
}

.app-step
{
  height:400px;
  width:800px;
  padding-left:250px;
  box-sizing:border-box;
  opacity:0;
}

.app-step>ol>li
{
  margin-bottom:12px;
}

.app-step h2
{
  display:none;
}
.app-step ol,
.app-step ul
{
  margin:0;
  padding:0 0 10px 25px;
}
.app-step>ol,
.app-step>ul
{
  /*border-radius:5px;*/
  /*background:#f9f9f9;*/
  /*padding:20px;*/
  /*box-shadow:0 1px 3px rgba(0,0,0,0.15);*/
}

.app-step.active
{
  opacity:1;
}

ol#app-steps
{
  opacity:0;
  visibility:hidden;
  transition:opacity 0.5s,visibility 0.5s;
  width:200px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-200px;
  margin-left:-400px;
  box-sizing:border-box;
  z-index:1000;
}

#app-steps
{
  list-style:none;
  margin:0;
  padding:0;
}
#app-steps li
{
  padding:5px 0;
  margin:0;
  font-weight:700;
}

body.impress-on-application-architecture .step,
body.impress-on-lay-the-groundwork .step,
body.impress-on-generate-resources .step,
body.impress-on-fix-output .step,
body.impress-on-make-it-usable .step,
body.impress-on-implement-notifications .step,
body.impress-on-deploy-it .step,
body.impress-on-thanks .step
{
  opacity:0;
}

body.impress-on-thanks #thanks.step
{
  opacity:1;
}

body.impress-on-application-architecture .app-step,
body.impress-on-lay-the-groundwork .app-step,
body.impress-on-generate-resources .app-step,
body.impress-on-fix-output .app-step,
body.impress-on-make-it-usable .app-step,
body.impress-on-implement-notifications .app-step,
body.impress-on-deploy-it .app-step
{
  opacity:1;
}

body.impress-on-application-architecture #app-steps,
body.impress-on-lay-the-groundwork #app-steps,
body.impress-on-generate-resources #app-steps,
body.impress-on-fix-output #app-steps,
body.impress-on-make-it-usable #app-steps,
body.impress-on-implement-notifications #app-steps,
body.impress-on-deploy-it #app-steps
{
  opacity:1;
  visibility:visible;
}

#app-steps li a
{
  transition:left 0.5s;
  position:relative;
  left:0;
}

#app-steps li a:after
{
  transition:opacity 0.5s;
  content:" ›";
  opacity:0;
}

body.impress-on-application-architecture #app-steps li a[href="#application-architecture"],
body.impress-on-lay-the-groundwork #app-steps li a[href="#lay-the-groundwork"],
body.impress-on-generate-resources #app-steps li a[href="#generate-resources"],
body.impress-on-fix-output #app-steps li a[href="#fix-output"],
body.impress-on-make-it-usable #app-steps li a[href="#make-it-usable"],
body.impress-on-implement-notifications #app-steps li a[href="#implement-notifications"],
body.impress-on-deploy-it #app-steps li a[href="#deploy-it"]
{
  left:10px;
  color:#111;
}

body.impress-on-application-architecture #app-steps li a[href="#application-architecture"]:after,
body.impress-on-lay-the-groundwork #app-steps li a[href="#lay-the-groundwork"]:after,
body.impress-on-generate-resources #app-steps li a[href="#generate-resources"]:after,
body.impress-on-fix-output #app-steps li a[href="#fix-output"]:after,
body.impress-on-make-it-usable #app-steps li a[href="#make-it-usable"]:after,
body.impress-on-implement-notifications #app-steps li a[href="#implement-notifications"]:after,
body.impress-on-deploy-it #app-steps li a[href="#deploy-it"]:after
{
  opacity:1;
}

#thanks.step
{
  width:600px;
}